<h1>post under tag <%= @tag_name.name %> </h1>


<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @tag.each do |p| %>
  
     <% @post = Post.find(p.post_id) %>
      <tr>
       <td><%= @post.Title %></td>
        <td><%= @post.Description %></td>
        <%#= link_to 'Show', tag %>
       <%#= link_to 'Edit', edit_tag_path(tag) %>
       <%#= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
      
  </tr>

<% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
