


<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>


<p>
  <strong>Created at:</strong>
  <%= @category.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @category.updated_at %>
</p>

<p>
<%= render 'post' , locals: @category  %>
</p>

